

<div class='box col<%= rand(4)+1 %>'>
	<% if recipe.image && recipe.image_file_name != "/images/thumb/missing.jpg" %>
	  <%= image_tag recipe.image.url(:thumb) %>
	<% end %>
 	<h5><%= recipe.title %></h5>
 	<div>
	  <small><em><%= recipe.description %></em></small>
	</div>
</div>