<h4>User Setting</h4>
<ul>
	<li><%= link_to "Show user information", user_path(current_user.id)  %></li>
	<li><%= link_to "Your friends list", friends_path %></li>
	<li><%= link_to "Edit your categories", categories_path %></li>
</ul>